<!DOCTYPE html>
<html lang="en">
<head>
  <title>Answer 3.5</title>
</head>
<body>
    <div class="table-data">
<h2>Answer 3.5</h2>
    <br>
    <table border="1">
        <tr>
            <th>Field_name</th>
            <th>Field_name</th>
            <th>Number of times</th>
        </tr>

        <%
        if(resData.length!=0){
        resData.forEach(function(data){
        %>
        <tr>
            <td><%=data.field_name %></td>
            <td><%=data.field_Name %></td>
            <td><%=data.num %></td>
        </tr>
        <%  }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>
