<!DOCTYPE html>
<html lang="en">
<head>
  <title>Answer 3.7</title>
</head>
<body>
    <div class="table-data">
<h2>Answer 3.7</h2>
    <br>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Total Funding Amount</th>
        </tr>

        <%
        if(resData.length!=0){
        resData.forEach(function(data){
        %>
        <tr>
            <td><%=data.first_name %></td>
            <td><%=data.last_name %></td>
            <td><%=data.total_funding %></td>
        </tr>
        <%  }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>
