<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>Common Questions</title>
    <link rel = "stylesheet" href = "/style.css">

  </head>
  <body>
    <hr>
    <div class="banner">
      <div class="navbar">
        <ul>
          <h1>Databases Project</h1>
          <h2>Team 40</h2>
      </div>
      <div class="content">
        <ul>
          <br><br><br><br><br>
          <h4>Choose what you want to know</h4>
          <br><br>
          <div>
            <button type = "button" onclick="location.href='http://localhost:3000/common/33choice';"><span></span>3.3</button>
            <button type = "button" onclick="location.href='http://localhost:3000/common/34';"><span></span>3.4</button>
            <button type = "button" onclick="location.href='http://localhost:3000/common/35';"><span></span>3.5</button>
            <br>
            <button type = "button" onclick="location.href='http://localhost:3000/common/36';"><span></span>3.6</button>
            <button type = "button" onclick="location.href='http://localhost:3000/common/37';"><span></span>3.7</button>
            <br>
            <button type = "button" onclick="location.href='http://localhost:3000/common/38';"><span></span>3.8</button>
          </div>
      </div>

  </body>
</html>
