<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>Edit Database</title>
    <link rel = "stylesheet" href = "/style.css">

  </head>
  <body>
    <hr>
    <div class="banner">
      <div class="navbar">
        <ul>
          <h1>Databases Project</h1>
          <h2>Team 40</h2>
      </div>
      <div class="content">
        <ul>
          <h1>Edit Database</h1>
          <br><br><br><br><br>
          <h4>Choose what you want to edit</h4>
          <br><br>
          <div>
            <button type = "button" onclick="location.href='http://localhost:3000/edit/researchers';"><span></span>Researchers</button>
            <button type = "button" onclick="location.href='';"><span></span></button>
          </div>
          <div>
            <button type = "button" onclick="location.href='http://localhost:3000/view/projects';"><span></span>Projects</button>
          </div>
      </div>
  </body>
</html>
