<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>Databases project</title>
    <link rel = "stylesheet" href = "/style.css">

  </head>
  <body>
    <hr>
    <div class="banner">
      <div class="navbar">
        <ul>
          <h1>Databases Project</h1>
          <h2>Team 40</h2>
      </div>
      <div class="content">
        <ul>
          <br><br><br><br><br>
          <h3> Choose Action </h3>
          <br><br>
          <div>
            <button type = "button" onclick="location.href='http://localhost:3000/view';"><span></span>Press to view the data </button>
            <button type = "button" onclick="location.href='http://localhost:3000/edit';"><span></span>Press to edit the data </button>
          </div>
          <div>
            <button type = "button" onclick="location.href='http://localhost:3000/common';"><span></span>Common questions </button>
          </div>
      </div>

  </body>
</html>
